body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
.flexible-container{
    display: flex;
    padding: 30px;
}
.halfWidth{
    width: 50%;
    padding-left: 2%;
}
.halfWidth img{
    width: 65%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px; 
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(salmon, tomato);
}
#hero{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 30px;
    padding-right: 100px;
}
.expert h3{
    color: orange;
}
.expert{
    box-shadow: 20px 20px 30px rgba(182, 182, 182, 0.609);
    width: 40%;
    margin-left: 2%;
    border-radius: 10px;
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#jaker{
    border-left: 8px  solid; 
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 2;
}
#baba{
    border-left: 8px  solid; 
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 2;
}
footer h6{
    text-align:center;
    font-size: 15px;
    color: rgb(163, 157, 157);
}
.top-image{
    margin-left: 220px;
}