body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
section{
    display: flex;
    padding: 30px;
}
.halfWidth{
    width: 50%;
    padding-left: 2%;
}
.halfWidth img{
    width: 65%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px; 
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(orange, tomato);
}
#hero{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 30px;
    padding-right: 100px;
}